[submodule "ext/libmsp"]
	path = ext/libmsp
	url = /afs/ece.cmu.edu/project/abstract/repos/libmsp
[submodule "ext/libedb"]
	path = ext/libedb
	url = /afs/ece.cmu.edu/project/abstract/repos/edb/libedb
[submodule "ext/libwispbase"]
	path = ext/libwispbase
	url = /afs/ece.cmu.edu/project/abstract/repos/wisp5
[submodule "ext/maker"]
	path = ext/maker
	url = /afs/ece.cmu.edu/project/abstract/repos/maker
[submodule "ext/edb-firmware"]
	path = ext/edb-firmware
	url = /afs/ece.cmu.edu/project/abstract/repos/edb/edb-firmware
[submodule "ext/edb-console"]
	path = ext/edb-console
	url = /afs/ece.cmu.edu/project/abstract/repos/edb/edb-console
