[submodule "ext/libmsp"]
	path = ext/libmsp
    url = https://github.com/CMUAbstract/libmsp
[submodule "ext/libedb"]
	path = ext/libedb
    url = https://github.com/CMUAbstract/libedb
[submodule "ext/libwispbase"]
	path = ext/libwispbase
    url = https://github.com/CMUAbstract/libwispbase
[submodule "ext/maker"]
	path = ext/maker
    url = https://github.com/CMUAbstract/maker
[submodule "ext/edb-firmware"]
	path = ext/edb-firmware
    url = https://github.com/CMUAbstract/edb-firmware
[submodule "ext/edb-console"]
	path = ext/edb-console
    url = https://github.com/CMUAbstract/edb-console
