[submodule "ext/libmsp"]
	path = ext/libmsp
    url = https://github.com/CMUAbstract/libmsp
[submodule "ext/libedb"]
	path = ext/libedb
    url = https://github.com/CMUAbstract/libedb
[submodule "ext/libwispbase"]
	path = ext/libwispbase
    url = https://github.com/CMUAbstract/libwispbase
[submodule "ext/maker"]
	path = ext/maker
    url = https://github.com/CMUAbstract/maker
[submodule "ext/edb-console"]
	path = ext/edb-console
    url = https://github.com/CMUAbstract/edb-console
[submodule "ext/libmspbuiltins"]
	path = ext/libmspbuiltins
	url = git@github.com:CMUAbstract/libmspbuiltins
[submodule "ext/libio"]
	path = ext/libio
	url = /afs/ece.cmu.edu/project/abstract/repos/libio
[submodule "ext/libmspconsole"]
	path = ext/libmspconsole
	url = /afs/ece.cmu.edu/project/abstract/repos/libmspconsole
[submodule "ext/libmspprintf"]
	path = ext/libmspprintf
	url = /afs/ece.cmu.edu/project/abstract/repos/libmspprintf
[submodule "ext/edb-server"]
	path = ext/edb-server
	url = /afs/ece.cmu.edu/project/abstract/repos/edb/edb-server
